.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.center img {
  width: 200px;
  margin: 20px;
}
.center .empty {
  margin: 20px;
  opacity: 1;
  font-size: 100%;
}
.center p {
  opacity: 0.8;
  font-size: 80%;
}

.cart {
  background-color: #f0f0f0;
  /* height: 100vh; */
  min-height: calc(100vh - 130px);
  /* width: 100%; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 50px;
  padding-top: 20px;
}

.cart__right {
  position: fixed;
  left: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 25%;
  height: 50%;
  /* height: 500px; */

  /* height: 90%; */

  padding: 15px 20px 15px 20px;
  border-radius: 2px;
}

.cart__right .heading {
  opacity: 0.45;
  font-weight: 500;
  font-size: 16px;
}

.margin {
  border-bottom: 1px solid #f0f0f0;
}

.cart__right__item {
  opacity: 0.8;
  display: flex;
  justify-content: space-between;
}

.total {
  opacity: 0.9;
  font-weight: 550;
}

.discount {
  opacity: 0.8;
  color: green;
}

.deliveryfee {
  color: green;
}

.savings {
  color: green;
  font-weight: 450;
}

.cart__left {
  padding: 15px 20px 15px 20px;
  background-color: white;
  width: 67%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  /* height: 250px; */
  height: fit-content;
}

.cart__left .cart__left__heading {
  margin-bottom: 20px;
}
