.header {
  height: 56px;
  background-color: #2874f0;
  display: flex;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin-left: 14%;
  margin-right: 10px;
}

.header__logo .plus {
  font-size: 10px;
  color: white;
  text-decoration: none;
}

.header__search {
  width: 110%;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 2px;
  height: 36px;
  justify-content: space-between;
}

.header__search input {
  padding: 0 16px;
  background: none;
  border: none;
  width: 100%;
}

*:focus {
  outline: none;
}

.header__search .searchicon {
  padding: 4px 12px 0 8px;
}

.header__menuitems {
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.header__menuitems .item {
  display: flex;
  align-items: center;
  margin-left: 40px;

  cursor: pointer;

  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #fff;
}

.namedrop {
  position: absolute;
  left: 69%;
  padding: 5px;
  box-shadow: 0 0 5px #888888;
  border-radius: 2px;
  width: 200px;
}

.dropitem {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #2874f0;
  margin: 15px 0;
  padding: 10px;
}

.dropitem:hover {
  background-color: #f3efef;
}

.dropitem p {
  margin-left: 10px;
  color: black;
  font-size: 13.5px;
}
.hidenamehover {
  display: none;
}

.hidemoredrop {
  display: none;
}

.moredrop {
  position: absolute;
  left: 77%;
  padding: 5px;
  box-shadow: 0 0 5px #888888;
  border-radius: 2px;
  width: 210px;
}
