.productItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image img {
  width: 100px;
}

.link {
  color: black;
}

button {
  cursor: pointer;
}
